<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel_Testing" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="com.QA.listeners.TestListener" />
	</listeners>
	<test name="moto g62 5G">
		<classes>
			<class name="com.QA.Test.SgnUpTest"/>
			<class name="com.QA.Test.AudioCallTest"/>
			<class name="com.QA.Test.VideoCallTest"/>
			<class name="com.QA.Test.FrndMakingRoomTest"/>
			<class name="com.QA.Test.GroupRoomTest"/>
			<class name="com.QA.Test.YrRedeemTest"/>
		</classes>
	</test>
	<!--	   <test name="FRND Automation iOS">-->
	<!--	        <listeners>-->
	<!--	            <listener class-name="com.qa.listeners.TestListener" />-->
	<!--	       </listeners>-->
	<!--	       <parameter name="platformName" value="iOS" />-->
	<!--	        <parameter name="udid" value="68F76A66-54B6-45E8-B57B-602C83B2ED52" />-->
	<!--	        <parameter name="deviceName" value="iPhone 14 Pro" />-->
	<!--	       <parameter name="wdaLocalPort" value="10001" />-->
	<!--	       <parameter name="webkitDebugProxyPort" value="11001" />-->
	<!--	        <classes>-->
	<!--	          <class name="com.QA.Test.LandingPageTest" />-->
	<!--	       </classes>-->
	<!--	   </test>-->
</suite> <!-- Suite -->